<div ng-app="eoApp" ui-view="">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">EOBackbone</h1>
    <p class="lead">EOBackboneはEveOnlineのコープ運営に関わる各種情報を管理するシステムです。</p>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Item Order Management</h5>
            <p class="card-text">アイテム買取オーダーを管理します</p>
            <a href="/#/orders" class="btn btn-success">View Sell Orders</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SRP Management</h5>
            <p class="card-text">Ship Replacement Program (SRP)を管理します</p>
            <a href="http://eosrp.eosystems.net" class="btn btn-success">View SRP</a>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Accounting Management</h5>
            <p class="card-text">Corpの収益を管理します</p>
            <a href="/#/corp_members" class="btn btn-success">View Accounting</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Member Management</h5>
            <p class="card-text">メンバー情報を管理します</p>
            <a href="http://eosrp.eosystems.net" class="btn btn-success">View Member Management</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>


</div>
