<div class="container-fluid" ng-controller="sellRequestsController as src">
<div class="row">

<div class="col-md-6">
  <h2>Sell Request Form</h2>
  <p>
    <i class="fa fa-info-circle"></i>
    Eve OnlineのInventoryをリスト表示し、Ctrl+Cでコピーしたものを下記申請フォームに貼り付け、
    Retrievalボタンを押してください。
  </p>

  <hr>

  <button id="get-inventory-info" class="btn btn-default" ng-click="retrievalItems()">Retrieval</button>

  <textarea class="form-control mt-10" rows="15" ng-model="retrievalForm">
  </textarea>
</div>

<div class="col-md-6">
  <h2>Items</h2>

  <div class="text-right">
    <button id="get-inventory-info" class="btn btn-primary" ng-click="requestConfirm()">Sell Request</button>
  </div>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Total Volume:</label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ totalVolume | number }} m3</p>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">Total Sell Price:</label>
      <div class="col-sm-9">
        <input class="form-control" ng-model="sellPrice"></input> ISK
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">Payment Method:</label>
      <div class="col-sm-9">
        <div class="btn-group">
          <label class="btn btn-success" ng-model="paymentMethod" uib-btn-radio="'credit'">掛売</label>
          <label class="btn btn-success" ng-model="paymentMethod" uib-btn-radio="'immediate'">即時</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Contract Location:</label>
      <div class="col-xs-9">
        <ui-select ng-model="src.contractLocation">
          <ui-select-match placeholder="Select Contract Location ...">
            <span>{{ src.contractLocation.station_name }}</span>
          </ui-select-match>

          <ui-select-choices repeat="loc in locations"
            refresh="searchLocation($select.search)"
            refresh-delay="0">
            <span>{{ loc.station_name }}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Note:</label>
      <div class="col-xs-9">
        <textarea class="form-control mt-10" rows="3" ng-model="note">
        </textarea>
      </div>
    </div>


  </form>

  <table class="table table-condensed table-responsive table-hover mt-10">
  <thead>
    <tr>
      <th> </th>
      <th> Name </th>
      <th> Quantity </th>
      <th> Volume </th>
      <th> Unit Price (ISK/m3) </th>
      <th> Price (ISK) </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in items">
      <td> <img ng-src="{{ row.image_path }}" class="img-responsive"/> </td>
      <td> {{ row.item_name }} </td>
      <td> {{ row.quantity | number }} </td>
      <td> {{ row.volume | number }} </td>
      <td> {{ row.sell_unit_price | number }} </td>
      <td> {{ row.sell_price | number }} </td>
    </tr>
  </tbody>
</table>
</div>


</div>
</div>
