<div class="container-fluid" ng-controller="buyRequestsController as src">
<div class="row">

<div class="col-md-12">
  <h2>Buy Request</h2>
  <p>
    <i class="fa fa-info-circle"></i><b> 買取リクエストの流れ</b><br />
    1. 本画面で買取希望のアイテムを選択し、リクエストを出してください。<br/>
    2. 担当者が見積もり、契約をあなたに投げます。<br/>
    3. 契約を確認し、Buy Orders画面にて受領する場合はAccept、拒否する場合はRejectをしてください。<br/>
  </p>

  <h3>Major Items</h3>
  <div class="col-md-12 hover_btn_container">
    <div class="col">

      <div class="container-1">
        <div class="btn btn-one">
          <span>BUTTON ONE</span>
        </div>

        <div class="btn btn-one">
          <span>BUTTON ONE</span>
        </div>

        <div class="btn btn-one">
          <span>BUTTON ONE</span>
        </div>
      </div>

    </div>
  </div>

  <h3>Other Items</h3>
</div>
</div>
</div>
