<div class="container-fluid" ng-controller="buyRequestsController as src">
<div class="row">

<div class="col-md-12">
  <h2>Buy Request</h2>
  <p>
    <i class="fa fa-info-circle"></i><b> 買取リクエストの流れ</b><br />
    1. 本画面で買取希望のアイテムを選択し、リクエストを出してください。<br/>
    2. 担当者が見積もり、契約をあなたに投げます。<br/>
    3. 契約を確認し、Buy Orders画面にて受領する場合はAccept、拒否する場合はRejectをしてください。<br/>
  </p>

  <h3>Major Items</h3>
  <div class="col-md-12 hover_btn_container">
    <div class="col">

      <div class="container-1">
        <div class="btn btn-one" ng-click="addToRequestList(34)">
          <span ng-click="addToRequestList()"><img src="https://image.eveonline.com/Type/34_64.png" />Tritanium</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/35_64.png" />Pyerite</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/36_64.png" />Mexallon</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/37_64.png" />Isogen</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/38_64.png" />Nocxium</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/39_64.png" />Zydrine</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/40_64.png" />Megacyte</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/16274_64.png" />Helium Isotopes</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/17888_64.png" />Nitrogen Isotopes</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/17889_64.png" />Hydrogen Isotopes</span>
        </div>

      </div>

    </div>
  </div>

  <h3>Planet Items</h3>

  <div class="col-md-12 hover_btn_container">
    <div class="col">

      <div class="container-1">
        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/2869_64.png" />Nano-Fatory</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/2348_64.png" />Gel-Matrix Biopaste</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/9848_64.png" />Robotics</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/9834_64.png" />Guidance Systems</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/9832_64.png" />Coolant</span>
        </div>

        <div class="btn btn-one">
          <span><img src="https://image.eveonline.com/Type/44_64.png" />Enriched Uranium</span>
        </div>

      </div>

    </div>
  </div>

  <h3>Other Select</h3>
  <div class="form-group">
    <div class="col-xs-10">
      <ui-select ng-model="src.contractLocation">
        <ui-select-match placeholder="Select Items ...">
          <span>{{ src.contractLocation.station_name }}</span>
        </ui-select-match>

        <ui-select-choices repeat="loc in locations"
          refresh="searchLocation($select.search)"
          refresh-delay="0">
          <span>{{ loc.station_name }}</span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class ="col-xs-2 no-padding">
        <button class="btn btn-normal btn-padding" ng-click="addToRequestList()">Add To List</button>
    </div>
    <br/><br/>

  </div>

  <h3>Request Item Lists</h3>

  <table class="table table-condensed table-responsive table-hover mt-10">
  <thead>
    <tr>
      <th>#</th>
      <th> Name </th>
      <th> Quantity </th>
      <th> Unit Price ( Jita Buy )</th>
      <th> Unit Price ( Jita Sell )</th>
      <th> Price ( Jita Buy ) </th>
      <th> Price ( Jita Sell ) </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in requestItems">
      <td> <img ng-src="https://image.eveonline.com/Type/{{row.type_id}}_32.png" class="img-responsive"/> </td>
      <td> {{ row.type_name }} </td>
      <td>
        <input ng-model="row.quantity" ng-change="changeQuantity(row)">
      </td>
      <td> {{ row.buy_unit_price | number }} </td>
      <td> {{ row.sell_unit_price | number }} </td>
      <td> {{ row.buy_price | number }} </td>
      <td> {{ row.sell_price | number }} </td>
      <td>
        <button class="btn btn-danger btn-sm" ng-click="removeRecord(row.id)">Remove</button>
      </td>
    </tr>
  </tbody>
  </table>
</div>
</div>
</div>
