<div class="container-fluid" ng-controller="buyRequestsController as src">
<div class="row">

<div class="col-md-12">
  <h2>Create Contract</h2>
  <p>
    <i class="fa fa-info-circle"></i>
    個数と値段を入力し、契約を投げてください。
  </p>

  <h3>Request Item Lists</h3>

  <table class="table table-condensed table-responsive table-hover mt-10">
  <thead>
    <tr>
      <th>#</th>
      <th> Name </th>
      <th> Quantity </th>
      <th> Quantity(Require) </th>
      <th> Unit Price </th>
      <th> Unit Price ( Jita Buy )</th>
      <th> Unit Price ( Jita Sell )</th>
      <th> Price ( Me ) </th>
      <th> Price ( Jita Buy ) </th>
      <th> Price ( Jita Sell ) </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in order_details">
      <td> <img ng-src="https://image.eveonline.com/Type/{{row.item_id}}_32.png" class="img-responsive"/> </td>
      <td> {{ row.item_name }} </td>
      <td>
        <input ng-model="row.quantity" ng-change="changeQuantity2(row)">
      </td>
      <td> {{ row.pre_quantity | number }}</td>
      <td>
        <input ng-model="row.unit_price" ng-change="changeQuantity2(row)">
      </td>
      <td> {{ row.sell_unit_price | number }} </td>
      <td> {{ row.buy_unit_price | number }} </td>
      <td> {{ row.price | number }} </td>
      <td> {{ row.buy_price | number }} </td>
      <td> {{ row.sell_price | number }} </td>
    </tr>
  </tbody>
  </table>

  <h3>Request Item Information</h3>
  <form class="">
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">Total Price:</label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ totalPrice | number:2 }} ISK </p>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">Total Price (Jita Sell):</label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ totalBuyPrice | number:2 }} ISK </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Total Price (Jita Buy): </label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ totalSellPrice | number:2 }} ISK </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Department:</label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ department }} </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Note:</label>
      <div class="col-xs-9">
        <textarea class="form-control mt-10" rows="3" ng-model="note">
        </textarea>
      </div>
    </div>
  </form>

  <button class="btn btn-primary btn-sm" ng-click="">OK</button>
  <p>
    <i class="fa fa-info-circle"></i>OK後はステータスが契約中になります。相手が受領するのをお待ち下さい。
  </p>
</div>
</div>
</div>
