<div class="container-fluid">
<div class="row">

<div class="col-md-8">
  <h2>User Market Orders</h2>

  <div class="text-left">
    <button class="btn btn-normal" ng-click="reload()">Reload</button>
  </div>

  <section class="content table-responsive">
    <table ng-table="tableParams" class="table table-condensed table-responsive table-hover mt-10"
      show-filter="true">
      <tr ng-repeat="row in $data" ng-click="selectRow(row.id)" ng-class="{selected: row.selected}">
        <td data-title="'Status'" sortable="'order_state'" width="100px"
          filter="{order_state: 'select'}" filter-data="statuses" class="text-center">
          <label ng-show="row.order_state == '0'" class="label label-primary">Active</label>
          <label ng-show="row.order_state == '1'" class="label label-default">Closed</label>
          <label ng-show="row.order_state == '2'" class="label label-success">Fulfilled</label>
          <label ng-show="row.order_state == '3'" class="label label-default">Canceled</label>
          <label ng-show="row.order_state == '4'" class="label label-default">Pending</label>
          <label ng-show="row.order_state == '5'" class="label label-default">Deleted</label>
        </td>
        <td data-title="'Buy'" sortable="'buy'" width="100px"
          filter="{buy: 'select'}" filter-data="buyFilter" class="text-center">
          <label ng-show="row.buy == '0'" class="label label-success">Sell</label>
          <label ng-show="row.buy == '1'" class="label label-primary">Buy</label>
        </td>
        <td data-title="'Judge'" width="50px">
          <label ng-show="row.lose_or_win == 'lose'" class="label label-danger">Lose</label>
          <label ng-show="row.lose_or_win == 'win'" class="label label-primary">Win</label>
        </td>
        <td data-title="'Monitor'" sortable="'monitor'" width="100px"
          filter="{monitor: 'select'}" filter-data="monitorFilter" class="text-center">
          <label ng-show="row.monitor == '0'" class="label label-default">OFF</label>
          <label ng-show="row.monitor == '1'" class="label label-primary">ON</label>
        </td>
        <td data-title="'#'" filter="{id: 'text'}" sortable="'id'" width="60px" class="deletable">
          {{row.id}}
        </td>
        <td data-title="''" width="32px" class="deletable">
          <img ng-src="{{ row.image_path }}" class="img-responsive"/>
        </td>
        <td data-title="'Item'" filter="{item_type_name: 'text'}" sortable="'item_type_name'">
          {{row.item_name}}
        </td>
        <td data-title="'Station'" filter="{order_station_name: 'text'}" sortable="'station_station_name'">
          {{row.order_station_name}}
        </td>
        <td data-title="'Updated'" sortable="'updated_at'">
          {{row.updated_at}}
        </td>
      </tr>
    </table>
  </section>
</div>

<div class="col-md-4">
  <div class="loading" dw-loading="loading" dw-loading-options="{text: 'Loading...'}">
  <!-- メモ: 何故かloadingで囲うとng-modelが動かなくなることがある。何かあったら削除 -->

  <h2>Order Detail (#{{selectedId}})</h2>

  <div class="text-right">
    Monitor :
    <button class="btn btn-normal"  ng-click="updateMonitor('1')">ON</button>
    <button class="btn btn-normal"  ng-click="updateMonitor('0')">OFF</button>
  </div>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Your Price </label>
      <div class="col-sm-9">
        <p class="form-control-static">  {{ order.price | number }}  ISK </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Volume Remain </label>
      <div class="col-sm-9">
        <p class="form-control-static">  {{ order.volume_remain | number }} </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Volume Entered </label>
      <div class="col-sm-9">
        <p class="form-control-static">  {{ order.volume_entered | number }} </p>
      </div>
    </div>
  </form>

  <table class="table table-condensed table-responsive table-hover mt-10">
    <thead>
      <tr>
        <th> Price </th>
        <th> Quantity </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in marketDetails">
        <td> {{ row.price | number }} </td>
        <td> {{ row.quantity | number }} </td>
      </tr>
    </tbody>
  </table>
</div>
</div>


</div>
</div>
