<div class="container-fluid">
<div class="row">

<div class="col-md-6">
  <h2>Orders</h2>

  <div class="text-left">
    <button class="btn btn-normal" ng-click="reload()">Reload</button>
  </div>

  <section class="content table-responsive">
    <table ng-table="tableParams" class="table table-condensed table-responsive table-hover mt-10"
      show-filter="true">
      <tr ng-repeat="row in $data" ng-click="selectRow(row.id)" ng-class="{selected: row.selected}">
        <td data-title="'Status'" sortable="'processing_status'" width="100px"
          filter="{processing_status: 'select'}" filter-data="statuses" class="text-center">
          <label ng-show="row.processing_status == 'in_process'" class="label label-primary">In Process</label>
          <label ng-show="row.processing_status == 'done'" class="label label-success">Done</label>
          <label ng-show="row.processing_status == 'canceled'" class="label label-default">Canceled</label>
          <label ng-show="row.processing_status == 'reject'" class="label label-danger">Reject</label>
        </td>
        <td data-title="'#'" filter="{id: 'text'}" sortable="'id'" width="100px" class="deletable">
          {{row.id}}
        </td>
        <td data-title="'Price'" sortable="'sell_price'">
          {{row.sell_price | number}} isk
        </td>
        <td data-title="'Volume'" sortable="'total_volume'">
          {{row.total_volume | number}} m3
        </td>
        <td data-title="'Created'" sortable="'created_at'">
          {{row.created_at}}
        </td>
      </tr>
    </table>
  </section>
</div>

<div class="col-md-6">
  <div class="loading" dw-loading="loading" dw-loading-options="{text: 'Loading...'}">
  <!-- メモ: 何故かloadingで囲うとng-modelが動かなくなることがある。何かあったら削除 -->

  <h2>Order Detail (#{{selectedId}})</h2>

  <div class="text-right">
    <button class="btn btn-normal"  ng-click="updateStatus('in_process')"
      ng-disabled="!management_in_process" ng-class="{disabled : !management_in_process}">In Process</button>
    <button class="btn btn-normal"  ng-click="updateStatus('reject')"
      ng-disabled="!management_reject" ng-class="{disabled : !management_reject}">Reject</button>
    <button class="btn btn-normal"  ng-click="updateStatus('canceled')"
      ng-disabled="!management_cancel" ng-class="{disabled : !management_cancel}">Cancel</button>
    <button class="btn btn-primary" ng-click="updateStatus('done')"
      ng-disabled="!management_done" ng-class="{disabled : !management_done}">Done</button>
  </div>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Sell Price: </label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ order.sell_price | number }} ISK </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Total Price: </label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ order.total_price | number }} ISK </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Buy Price Percentage: </label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ order.sell_price / order.total_price * 100.0 || 0.0 }} % </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Total Volume: </label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ order.total_volume | number }} m3</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Contract Place:</label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ order.contract_station_name || "None" }} </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Orderer: </label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ order.order_user_name }} </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Note:</label>
      <div class="col-sm-9">
        <p class="form-control-static"> {{ order.note }} </p>
      </div>
    </div>

  </form>

  <table class="table table-condensed table-responsive table-hover mt-10">
    <thead>
      <tr>
        <th> </th>
        <th> Name </th>
        <th> Quantity </th>
        <th> Volume </th>
        <th> Unit Price </th>
        <th> Price (ISK) </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in orderDetails">
        <td> <img ng-src="{{ row.image_path }}" class="img-responsive"/> </td>
        <td> {{ row.item_name }} </td>
        <td> {{ row.quantity | number }} </td>
        <td> {{ row.volume | number }} </td>
        <td> {{ row.sell_unit_price | number }} </td>
        <td> {{ row.sell_price | number }} </td>
      </tr>
    </tbody>
  </table>
</div>
</div>


</div>
</div>
