<div class="container-fluid">
<div class="row">

<div class="col-md-12">
<h2>EOZkill ダッシュボード一覧</h2>
<section class="content table-responsive">
  <table ng-table="tableParams" class="table table-condensed table-responsive table-hover mt-10"
    show-filter="true">
    <tr ng-repeat="row in $data" ng-click="selectRow(row.id)">
      <td data-title="'#'" width="100px" class="deletable">
        {{row.id}}
      </td>
      <td data-title="'Title'">
        {{row.department_name}}
      </td>
      <td data-title="'Description'">
        {{row.corporation_name}}
      </td>
      <td data-title="'Creater'">
        {{row.corporation_name}}
      </td>
      <td data-title="'Created At'">
        {{row.corporation_name}}
      </td>
      <td data-title="'Updated At'">
        {{row.corporation_name}}
      </td>
    </tr>
  </table>
</section>


</div>
</div>
</div>
