<div class="container-fluid" ng-controller="eoDashboardsController as src">

<h2>{{ detail.title }}</h2>
<div class="iframe-content">
<iframe src="http://localhost:5601/app/kibana#/dashboard/8b178ad0-3804-11e7-a17a-138f07a6ae90?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'2017-05-06T15%3A00%3A00.000Z'%2Cinterval%3A'1d'%2Cmode%3Aabsolute%2Ctimezone%3AAsia%2FTokyo%2Cto%3A'2017-05-07T14%3A59%3A59.999Z'))" frameborder="0"></iframe>
</div>
</div>
