<div class="container-fluid" ng-controller="eoDashboardsController as src">

<h2>{{ detail.title }} <a href="/#/eo_dashboards">Back</a></h2>
<div class="iframe-content">
<iframe src="{{ detail.iframe_text }}" frameborder="0"></iframe>
</div>
</div>
