development:
  adapter: mysql2
  encoding: utf8
  database: eobackbone_development
  pool: 5
  timeout: 5000
  username: root
  password:
  collation: utf8_bin

test:
  adapter: mysql2
  encoding: utf8
  database: eobackbone_test
  pool: 5
  timeout: 5000
  username: root
  password:
  collation: utf8_bin

production:
  adapter: mysql2
  encoding: utf8
  database: <%= ENV['DATABASE_NAME'] %>
  pool: <%= ENV['DATABASE_POOL'] %>
  timeout: 5000
  username: <%= ENV['DATABASE_USER'] %>
  password: <%= ENV['DATABASE_PASS'] %>
  collation: utf8_bin
  socket: /var/run/mysqld-default/mysqld.sock
  host: <%= ENV['DATABASE_HOST'] %>

