defaults: &defaults
  applications:
    app_id: ""
    app_secret: ""
  market:
    jita_price_refresh_time: 600

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  applications:
    app_id: <%= ENV['APP_ID'] %>
    app_secret: <%= ENV['APP_SECRET'] %>
