<div class="container-fluid">
<div class="row">

<div class="col-md-12">
  <h2>Role Management</h2>

  <div class="text-left">
    <button class="btn btn-normal" ng-click="reload()">Reload</button>
  </div>

  <section class="content table-responsive">
    <table ng-table="tableParams" class="table table-condensed table-responsive table-hover mt-10"
      show-filter="true">
      <tr ng-repeat="row in $data" ng-click="selectRow(row.id)" ng-class="{selected: row.selected}">
        <td data-title="'#'" filter="{id: 'text'}" sortable="'id'" width="60px" class="deletable">
          {{row.id}}
        </td>
      </tr>
    </table>
  </section>


</div>

</div>
</div>
