<div class="container-fluid">
  <div class="row">


    <div class="col-md-12">
      <h2>Trades Summary</h2>

      <p>
        <i class="fa fa-info-circle"></i>
        対象日から30日前までの売上、費用、利益を表示します。
      </p>

      <div class="text-left">
        <button class="btn btn-normal" ng-click="reload()">Reload</button>
      </div>

      <section class="content table-responsive">
        <table ng-table="tableSummaryParams" class="table table-condensed table-responsive table-hover mt-10"
        show-filter="true">
        <tr ng-repeat="row in $data" ng-click="selectRow(row.id)" ng-class="{selected: row.selected}">
          <td data-title="'Date'" filter="{trade_date: 'text'}" sortable="'trade_date'">
            {{row.trade_date |  date: 'medium'}}
          </td>
          <td data-title="'Sales'" sortable="'sales'">
            {{row.sales | number:0}}
          </td>
          <td data-title="'Expense'" sortable="'expense'">
            {{row.expense | number:0}}
          </td>
          <td data-title="'Cost'" sortable="'cost'">
            {{row.cost | number:0}}
          </td>
          <td data-title="'Tax'" sortable="'tax'">
            {{row.tax | number:0}}
          </td>
          <td data-title="'Profit'" sortable="'profit'">
            {{row.profit | number:0}}
          </td>
          <td data-title="'Inventory'" sortable="'profit'">
            {{row.inventory_valuation | number:0}}
          </td>
        </tr>
      </table>
    </section>
  </div>

  <div class="col-md-12">
    <h2>Trades Items</h2>
    <p>
      <i class="fa fa-info-circle"></i>
      対象日から30日前までの売上、費用、利益を表示します。
    </p>
    <div class="text-left">
      <button class="btn btn-normal" ng-click="reload()">Reload</button>
    </div>

    <section class="content table-responsive">
      <table ng-table="tableParams" class="table table-condensed table-responsive table-hover mt-10"
      show-filter="true">
      <tr ng-repeat="row in $data" ng-click="selectRow(row.id)" ng-class="{selected: row.selected}">
        <td data-title="'#'" filter="{id: 'text'}" sortable="'id'" width="60px" class="deletable">
          {{row.id}}
        </td>
        <td data-title="'Date'" filter="{trade_date: 'text'}" sortable="'trade_date'">
          {{row.trade_date |  date: 'medium'}}
        </td>
        <td data-title="''" width="32px" class="deletable">
          <img ng-src="{{ row.image_path }}" class="img-responsive"/>
        </td>
        <td data-title="'Item'" filter="{item_type_name: 'text'}" sortable="'item_type_name'">
          {{row.item_name}}
        </td>
        <td data-title="'Sales'" sortable="'sales'">
          {{row.sales | number:0}}
        </td>
        <td data-title="'Expense'" sortable="'expense'">
          {{row.expense | number:0}}
        </td>
        <td data-title="'Cost'" sortable="'cost'">
          {{row.cost | number:0}}
        </td>
        <td data-title="'Tax'" sortable="'tax'">
          {{row.tax | number:0}}
        </td>
        <td data-title="'Profit'" sortable="'profit'">
          {{row.profit | number:0}}
        </td>
        <td data-title="'Inventory'" sortable="'profit'">
          {{row.inventory_valuation | number:0}}
        </td>
        <td data-title="'Sales Quantity'" sortable="'sales_quantity'">
          {{row.sales_quantity | number}}
        </td>
        <td data-title="'Purchase Quantity'" sortable="'purchase_quantity'">
          {{row.purchase_quantity | number}}
        </td>
        <td data-title="'Sales Average'" sortable="'sales_average_price'">
          {{row.sales_average_price | number}}
        </td>
        <td data-title="'Purchase Average'" sortable="'purchase_average_price'">
          {{row.purchase_average_price | number}}
        </td>
      </tr>
    </table>
  </section>
</div>

</div>
</div>
